body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

h1 {
  margin: 0;
}

.hero {
  position: relative;
  background:url('http://wallpoper.com/images/00/34/14/30/mountains-clouds_00341430.jpg');
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: '';
  position: absolute;
  left: 0; 
  top: 0; 
  right: 0; 
  bottom: 0;
  background: rgba(0, 77, 100, .5);
}

.hero-content {
  position: absolute;
  color: whitesmoke;
  font-size: 2rem;
  transform: translateY(-10vh);
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
}

.hero-content .main-quote-1 {
  opacity: 0;
  transform: translateY(-150px);
  animation: 2.5s fadeInUp ease-out forwards;
}

.hero-content .main-quote-2 {
  opacity: 0;
  transform: translateY(120px);
  animation: 4s fadeInUp 3.2s ease-in-out forwards;
}

.hero-content .main-quote-2 span {
  font-size: 2.2rem;
  color: white;
  font-weight: 300;
}

.hero-content .last {
  opacity: 0;
  animation: 3s fadeIn 8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  font-size: 5rem;
  color: #c2d0d6;
  text-align: right;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 0.9;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  } 
  25% {
    opacity: 0.2;
  }
  55% {
    opacity: 0.45;
  } 
  75% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-container {
  transform: translateY(10vh);
  opacity: 0;
  animation: 2s fadeIn 9s ease-in forwards;
}

/* Public Quotes Page */

.quotes {
  background: #323c41;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  padding: 2em 4em;
}

.Cards {
  display: grid;
  height: 100%;
  margin-top: 2em;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-auto-rows: 500px;
}

.Card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  text-align: center;
}

.Card-title {
  position: absolute;
  display: flex;
  margin: 0 auto;
  left: 50%;
  right: 50%;
  justify-content: center;
  color: white;
  background-color: rgba(0, 77, 100, .5);
  z-index: 40;
}

.Card-title .edit {
  position: absolute;
  display: none;
  transition: all 0.3s ease-in;
}

.Card:hover .Card-title .edit {
  display: block;
}

.Card-title h2 {
  opacity: 0.7;
  border-bottom: 0px solid rgb(221, 157, 18);
  transition: border-bottom .15s ease-in;
}

.Card-text {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  color: white;
  padding: 0 1em;
  z-index: 30;
  opacity: 0;
  transition: bottom .3s, opacity .3s cubic-bezier(.33,.66,.66,1);
}

.color-overlay {
  background: rgba(84,104,110,0.4);
  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 25;
  top: 0;
  left: 0;
  transition: background .3s cubic-bezier(.33,.66,.66,1);
  height: 100%;
  width: 100%;
}

.Card:hover .color-overlay {
  background: rgba(84,104,110,0.8);
}

.Card:hover .Card-text {
  opacity: 1;
  bottom: 120px;
}

.Card:hover .Card-info {
  opacity: 0.8;
}

.Card:hover .Card-title h2 {
  border-bottom: 2px solid rgb(221, 157, 18);
  opacity: 1;
}

.Card-info {
  position: absolute;
  bottom: 30px;
  height: 20px;
  right: 0;
  left: 0;
  z-index: 40;
  opacity: 0;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in;
}

.Card-list ul {
  list-style-type: none;
}

.comments {
  font-size: 20px;
  margin-right: 1em;
  display: inline-flex;
  align-items: center;
  color: white;
}

.comments > * {
  margin-right: 0.2em;
}

/* Show Page */

.user-info {
  display: flex;
  align-items: center;
}

.user-info > * {
  margin-right: 1em;
}

#delete-form {
  display: inline;
}