{{#if user}}
<div class="hero">
  <h1>Dingus</h1>
</div>
{{else}}
<div class="hero">
  <div class="tint"></div>
  <div class="hero-content container">
    <p class="main-quote-1">
      "We need books that affect us like a disaster, that grieve us deeply... like being banished into forests far from everyone...
    </p>
    <p class="main-quote-2"><span>A book must be the axe for the frozen sea within us.</span>
      <br>
      That is my belief."
    </p>
    <h4 class="last">- Franz Kafka</h4>
    <div class="btn-container">
      <a href="/quotes" class="btn blue darken-4">Explore More Quotes</a>
      <a href="/auth/google" class="btn grey darken-1">Login with Google</a>
    </div>
  </div>
</div>
{{/if}}