<div class="container">
  <h1>Add Quote</h1>
<div class="row">
  <form action="/quotes" method="post" class="col s12">

    <div class="row">
      <div class="input-field">
        <input type="text" name="author">
        <label for="author">Author</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" name="authorImage">
        <label for="authorImage">Author Image</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="status" id="">
          <option value="public" selected>Public</option>
          <option value="private" selected>Private</option>
          <option value="unpublished" selected>Unpublished</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <p>
        <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" checked="checked">
        <label for="filled-in-box">Allow Comments</label>
      </p>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Write your quote</h5>
        <textarea name="text"></textarea>
      </div>
    </div>

    <input type="submit" value="Save" class="btn">
  </form>
</div>
</div>

